body{
    background-color: rgb(239, 132, 0);
}

.section{
    text-align: center;
    padding-top: 30px;
}

.para{
    text-align: left;
    margin: 30px;
    padding: 0px 50px;
    font-size: larger;
}

.newitem{
    margin-top: 50px;
}