.scrollToTopContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 2rem 2rem 0;
  
    height: fit-content;
    width: fit-content;
    z-index: 100000;

  
    /* Enhance scrollbar */
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: palevioletred rgba(255, 255, 255, 0.9);
  }
  
  .scrollToTopContainer::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollToTopContainer::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.9);
  }
  
  .scrollToTopContainer::-webkit-scrollbar-thumb {
    background-color: palevioletred;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0);
  }