.scrollToTopContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 2rem 2rem 0;
  
    height: fit-content;
    width: fit-content;
    z-index: 100000;
  }
  
  .scrollToTopButton {
    border-radius: 100%;
    height: 42px;
    width: 42px;
    background-color: rgba(255, 255, 255, 0.9);
  
    border: 0;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px palevioletred;
  }