.body-back{
    background-image:url("background.jpg");

}

/* header */
.image-border{
  border-radius: 100%;
}
.navbar {
  padding: 1rem 0;

}

.head{
  font-size: 1.5rem;
  font-weight: bold;
  color:#ff1a8c;
  text-align: left;
  position: static;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  margin-left: 1rem;
  color: #000;
}

.navbar-nav .nav-link:hover {
  color: #ff4532;
}

.navbar-toggler {
  border: none;
}

.bi {
  font-size: 1.5rem;
}


/* header */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .square {
    background-color: bisque;
    margin-top:150px;
    height:300px;
    width:300px;
    border-style: double;
  }

  #mens{
    display:flex;
    font-style: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:26px;
    text-align: center;
    margin-left:400px;
    margin-top:50px;
  }

  .square:after {
    content: "";
    display: block;
    margin-top:100px;
    padding-top:100%;

  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .experi{
    background-color: rgb(199, 93, 109);

    margin-top:25px;
    font-family: 'Times New Roman', Times, serif;

  }

  footer{
    background:rgb(231, 224, 235);
    padding-bottom: 0px;
    margin-top:0px;
    height:150px;
  }


  #content{
    text-align:center;
    margin:25px;
  }

  /* footer */

  .bg-pink {
  background-color: #FFC0CB;
}

.text-black {
  color: #000000;
}

.footer-links li {
  display: inline-block;
  margin-right: 20px;
}

.social-links li {
  display: inline-block;
  margin-right: 20px;
}
.row{
  padding-top: 60px;
}
.social-links i {
  font-size: 20px;
}

.nav-link{
  color: #000;
}


/* footer */
