body{
    background: url("backgrounddropdown.png");

}
.heading{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size:60px;
    margin-top:150px;
}
.information{
    border-color:black;
    border-style:solid;
    display:block;
    margin:90px;
    overflow: auto;
}

.video{
    width: 500px;
    height: 281px;
    margin: 20px 20px;
}

.info{
    margin:20px;
    font-size:20px;
}

.head{
    list-style: none;
    font-size: 27px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

.end{
    text-align:center;
}