* {
    margin: 0;
    padding: 0; 
  }
  
 

  
  @keyframes bounce {
    50% {
        transform: translateY(16px);
    }
  
    100% {
        transform: translateY(0);
    }
  }
  
  /*=================================*/
  
  
  
  .footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: white;
  /* change color and min height here to observe difference between footer and  last row */
}

footer {
  position: relative;
  width: 100%;
  background: #c5868f;
  min-height: 10px;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


footer .social-icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer .social-icon li,
footer .menu li {
  list-style: none;
}
footer a{
  color: #fff;
  
}
footer .social-icon li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-icon li a:hover {
  transform: translateY(-10px);
}

footer .menu li a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
  display: inline-block;
}

.footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('../assets/img/wave.jpg');
  background-size: 1000px 100px;
 
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
 
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}
  
 
/*ovulation video*/
.video{
  height: 300px;
  width: 500px;
  margin-left: 300px;
}
 
