.body-back {
  background-color: #EFB7C7;
  font-family: 'Raleway', sans-serif;

}
.footer{
  min-height: 0vh;
}

::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background:#E82771;
  border-radius:100vw;
}
::-webkit-scrollbar-thumb{
  background:#fcadcb;
  border-radius:100vw;
}

.loader {
  position: fixed;
  z-index: 999999999 !important;
  background: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;


  
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.disappear {
  animation: vanish 4s forwards;
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*---------------------------------------*/
  .square {
    background-color: bisque;
    margin-top:150px;

  
    height:300px;
    width:300px;
    border-style: double;
  }
  
  .square:after {
    content: "";
    display: block;
    margin-top:100px;
    padding-top:100%;
    
  }
  
  .experi{
    background-color: rgb(199, 93, 109);
    margin-top:25px;
    font-family: 'Times New Roman', Times, serif;
    
  }
 .logoheading{
    font-family: 'Raleway', sans-serif;
    padding-top: 0.6rem;
    padding-left: 0.8rem;
    margin-bottom: 0;
    float: right;
    font-size: 35px;
    font-weight: 700;
    color: #EB1365;
  }

  /* .backgroundimage{
    float: right;
    height: 810px;
  } */
/* 
  #infobox{
    margin-top: 300px;
    text-align: center;

    

  }
  #infobox>h2{
    font-family: 'PT Serif Caption', serif;
    color: #E82771;
    font-weight: 800;
    font-size: 50px;
  } */

  .main-head{
    font-family: 'PT Serif Caption', serif;
    color: #E82771;
    font-weight: 700;
    font-size: 40px;
    display:inline-block;

  }
  .image{
    height:85vh;
    width:38vw;
  }
  #btn {
      background-color: white;
      border: none;


  
      color: #E82771;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 25px;
  }
  #result{
    font-family: 'PT Serif Caption', serif;
    color: #E82771;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    position: relative;
    /* left: 30px;
    top: -100px; */


  }


  
  
  #btn1 {
    background-color: white;
    border: none;
    color: #E82771;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

#btn1:hover{
  background-color: #E82771;
  color: white;
}

  #btn:hover{
    background-color: #E82771;
    color: white;
  }

  .main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .main>h2{
    font-family: 'PT Serif Caption', serif;
    color: #E82771;
    font-weight: 700;
    font-size: 40px;
    display:inline-block;
  }

  .main>h3{
    font-family: 'PT Serif Caption', serif;
    color: #E82771;
    font-weight: 700;
    font-size: 40px;
    display:inline-block;
  }

  .main>h4{
    font-family: 'PT Serif Caption', serif;
    color: #E82771;
    font-weight: 700;
    font-size: 40px;
    display:inline-block;
  }

  .main>h5{
    font-family: 'PT Serif Caption', serif;
    color: #E82771;
    font-weight: 700;
    font-size: 40px;
    display:inline-block;
  }

  .main>h6{
    font-family: 'PT Serif Caption', serif;
    color: #E82771;
    font-weight: 700;
    font-size: 40px;
    display:inline-block;
  }

  .main>h7{
    font-family: 'PT Serif Caption', serif;
    color: #E82771;
    font-weight: 700;
    font-size: 40px;
    display:inline-block;
  }

  .main>h8{
    font-family: 'PT Serif Caption', serif;
    color: #E82771;
    font-weight: 700;
    font-size: 40px;
    display:inline-block;
  }

  .main>h9{
    font-family: 'PT Serif Caption', serif;
    color: #E82771;
    font-weight: 700;
    font-size: 40px;
    display:inline-block;
  }

  .main>h10{
    font-family: 'PT Serif Caption', serif;
    color: #E82771;
    font-weight: 700;
}

  .footernav{
    position: absolute;
    bottom: 0;


  
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: block;
    height: 70px;
    width: 100%;
    background-color: white;
    text-align: center;
    cursor:pointer;
  }
  .footernav a{
    text-decoration: none;
    color: #E82771;
  }

  .footernav>h2{
    color: #EB1365;
    text-align: center;
    padding-top: 7px;
    font-size: 700;
  }

  /*-------------------*/

 .explore{
  background-color: white;
  
 }
 .explore h2{
  display:none;
  color:#EB1365;
  text-align:center;
 }
 .explore .card{
  background:#ffd7e9 ;
  border:none;
  text-align:center; 
  
 }
 .explore .card-title{
  color: #EB1365;
  font-weight:bold;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  
 }
 .explore .card p{
  font-weight: 500;
  color:#EB1365;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
 }
 .explore .btn{
  background:white;
  color:#EB1365;
 }
 .explore .btn:hover{
  background:white !important;
  color:#EB1365!important;
  cursor:pointer;
 }
 #about{
  display: none;
 }

 #myDIV{
  display: none;
 }
/*--------------------------*/
/* ---------------------------- */
.hear{
  color:#EB1365;
  font-family: 'PT Serif Caption', Times, serif;
  font-weight:bold;
  font-size:1.4rem;
 }
 .mail{
  color:#EB1365;
  font-family: 'Times New Roman', Times, serif;
  font-weight:500;
  font-size: 1.2rem;


 }
 .mail p{
  font-size:1.2rem;
 }
 .contact .form-label{
  color:#EB1365;
  font-family: 'Times New Roman', Times, serif;
  font-weight:bold;
  font-size:1.2rem;
 }
 .contact .btn{
  background:white;
  color:#EB1365;
 }
 .contact .btn:hover{
  background:white !important;
  color:#EB1365!important;
  cursor:pointer;
 }
 .contact input[type=email]:focus{
  outline:none;
  box-shadow:none;
  border:1px solid #EB1365;
 }
 .contact textarea:focus{
  outline:none;
  box-shadow:none;
  border:1px solid #EB1365;
 }


/*--------------------------*/


/*------------------------*/
  #edit-btn{
    border-radius: 50px;
    font-size: 20px;
    color: #E82771;
    border: none;
    padding: 15px;
    font-weight: 600;}

  #cont{
    display: none;
  }


  @media (max-width: 768px) {
    .image{
        display:none;
    }
    .footernav{
      display:none;
    }
    .explore h2{
      display:block;
    }
    #myDIV{
      display:block;
    }
    .footer{
      justify-content:center;
      align-items:center;
    }
    .back-to-top{
      bottom: 2rem;
    }
  }
  
  @media(min-width:992px){
    .image{
      display:block;
    }
  }

 /*------------------------*/
 #news{
  background-color: white;
  height: 600px;
  display: none;
 }
 #newsin {
   width: 55%; 
  text-align: center;
  padding-top: 100px;
  border: 2px solid black;
  /* padding: 50px; */
  padding-bottom: 10px;
  
 
  margin-left: 350px;
  border-radius: 15px;
  background-color: #ffd7e9;
  box-shadow: 1px 2px 1.2px pink;
}

#info {
  text-align: center;
  padding: 10px;
  padding-left: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
}

#nameuser{
  width: 45%;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

#checkedbox {
  padding: 50px;
  margin: 10px;
  position: relative;
  left: 0;
}

#submitnews {
  padding: 10px;
  margin: 10px;
  width: 200px;
  border-radius: 50px;
  cursor: pointer;
}

