body{
    background: url("backgrounddropdown.png");

}
/* header */


.heading{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size:60px;
    margin-top:1px;
    padding-bottom: 2px;
    padding-left: 250px;
    color:#EB1365;
}
.information{
    border-color:white;
    border-style:solid;
    display:flex;
   
    height:1100px;
    font-size: 20px;
    width: 1200px;
}
.information1{
  border-color:white;
  border-style:solid;
  display:flex;
  height:400px;
  font-size: 20px;
  width: 1200px;
}
.forma{
  padding-right: 300px;
}

.inf{
    margin:20px;
}

.inf b{
  color:#E82771;
}

.tag{
  text-align: center;
  color:#E82771;
  font-size: 20px;
  padding-left: 250px;
  padding-bottom: 20px;  
}

.inf ul{
  border:solid #EB1365 8px;
  border-radius: 2rem;
}

.inf li{
  color:#E82771;
}